@*@model IEnumerable<ChattClient_MVC.LitosServiceReference.Product>*@
@model IEnumerable<ChattClient_MVC.Controllers.Products>


<div>
    @{
        ViewBag.Title = "Home Page";
    }
    <div class="col-md-12"></div>
    <div class="col-md-5">

    </div>
    <div class="col-md-5">
        <button id="btn" type="button" class="btn btn-success">ROLL THE DICE</button>
        <div>
            <h2 id="diceResult"></h2>
        </div>
    </div>

    <div class="col-md-5">

    </div>
    <div class="col-md-5">
        <button id="quoteBtn" type="button" class="btn btn-success">MOVIE QUOTE?</button>
        <div>
            <h2 id="quote"></h2>
        </div>
    </div>

    @*<div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-6 col-sm-6 product-space">
                    <h4>@item.Title</h4>
                    <img src="@item.ImageUrl" alt="Alternate Text" class="img" />
                    <p>@item.Price kr</p>
                    <p>@item.Description</p>
                </div>
            }
        </div>*@

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Produktnamn</th>
                    <th>Pris</th>
                    <th>Beskrivning</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>

                        <td class="image-size-in-table"> <img src="@product.ImageUrl" alt="Alternate Text" class="img image-size-in-table" /> </td>
                        <td>@product.Title</td>
                        <td>@product.Price kr</td>
                        <td>@product.Description</td>
                        <td><button class="btn btn-danger" disabled> Slut i lager</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
